<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="common::head">公共头部</th:block>
    <style>
        .layui-form-item .layui-input-company {
            width: auto;
            padding-right: 10px;
            line-height: 38px;
        }
    </style>
</head>
<body>
<div class="layuimini-container">
    <div class="layuimini-main">
        <div class="layui-form layuimini-form">
            <div class="layui-form-item">
                <label class="layui-form-label required">旧的密码</label>
                <div class="layui-input-block">
                    <input type="password" name="oldPassword" lay-verify="required" lay-reqtext="旧的密码不能为空"
                           placeholder="请输入旧的密码" value="" class="layui-input">
                    <tip>填写自己账号的旧的密码。</tip>
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label required">新的密码</label>
                <div class="layui-input-block">
                    <input type="password" name="newPassword" lay-verify="required" lay-reqtext="新的密码不能为空"
                           placeholder="请输入新的密码" value="" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label required">新的密码</label>
                <div class="layui-input-block">
                    <input type="password" name="againPassword" lay-verify="required" lay-reqtext="新的密码不能为空"
                           placeholder="请输入新的密码" value="" class="layui-input">
                </div>
            </div>

            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn" lay-submit lay-filter="saveBtn">确认保存</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script th:replace="common::script"></script>
<script>
    layui.use(['form', 'layer', 'jquery'], function () {
        var $ = layui.jquery,
            form = layui.form,
            layer = layui.layer;

        //监听提交
        form.on('submit(saveBtn)', function (data) {
            var oldPassword = data.field.oldPassword;
            var newPassword = data.field.newPassword;
            var againPassword = data.field.againPassword;
            if (newPassword !== againPassword) {
                layer.msg("两次新密码不一致")
            } else {
                $.ajax({
                    url: "/password",
                    method: "POST",
                    data: {
                        oldPassword: oldPassword,
                        newPassword: newPassword
                    },
                    beforeSend: function () {
                        layer.load()
                    },
                    complete: function () {
                        layer.closeAll("loading")
                    },
                    success: function (resp) {
                        if (resp.code === 777) {
                            layer.msg(resp.msg);
                        } else if (resp.code === 302) {
                            layer.msg("旧密码不正确");
                        } else if (resp.code === 200) {
                            layer.msg("修改成功");
                        } else {
                            layer.msg("修改失败");
                        }
                    },
                    error: function () {
                        layer.msg("修改失败");
                    }
                });
            }
            return false;
        });
    });
</script>
</body>
</html>